<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="description">

    <title>PixelsDaily - Responsive Navigation Menu</title>

    <link rel="stylesheet" media="screen" href="/Content/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="selectivizr.js"></script>
  <noscript><link rel="stylesheet" href="style.css" /></noscript>
<![endif]-->

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
    <div id="creativeBanner">
    </div>
    <div class="main-container">
        <nav>
            <ul>
                <li><a href="#">Home<br />
                    <small>Go Home</small></a></li>
                <li><a href="#">About<br />
                    <small>Personal information</small></a></li>
                <li><a href="#">Work<br />
                    <small>See Our Work</small></a></li>
                <li><a href="#">News<br />
                        <small>Read About Current happenings</small></a></li>
                <li><a href="#">Muay Thai<br />
                    <small>Thaiboxing experience</small></a></li>
                <li><a href="#">Contact<br />
                    <small>Email Me</small></a></li>
            </ul>
        </nav>
        <div class="body-container" id="body">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="c21"></div>
    </div>
</body>

</html>

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/js")
    @Styles.Render("~/Scripts")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <div class="masthead">
                <h3 class="text-muted">Project name</h3>
                <ul class="nav nav-justified">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>
        <div class="jumbotron" id="body">
         @RenderBody()
      </div>
    </div>
         <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
             @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>*@
